#container {
    width: 960px;
    height: 960px;
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.standard {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.entered {
    background-color: lightskyblue;
}